server {

        listen 443 ssl http2 ;
        ssl on;
        ssl_certificate /etc/kubernetes/pki/monit.pem;
        ssl_certificate_key /etc/kubernetes/pki/monit.key;

        server_name {{item.name}}.{{domain}};
        location / {
                proxy_pass http://localhost:{{item.port}};
        }
}
