apiVersion: v1
kind: Pod
metadata:
  labels:
    component: cloud-controller-manager
    tier: control-plane
  name: cloud-controller-manager
  namespace: kube-system
spec:
  # serviceAccountName: cloud-controller-manager
  hostNetwork: true
  containers:
    - name: cloud-controller-manager
      imagePullPolicy: Always
      image: repo.mgmt.autok8s.ext:5000/cloud-controller-manager:latest
      command:
        - /app/cloud-controller-manager
      args:
        - --cloud-provider={{ cloud_provider }}
        - --v=5
        - --kubeconfig
        - /root/.kube/config
        - --cloud-config
        - /etc/kubernetes/config/ccm-config.ini
      volumeMounts:
        - mountPath: /root/.kube
          name: kubeconfig
          readOnly: true
        - mountPath: /etc/kubernetes/config/ccm-config.ini
          name: config-ccm
          readOnly: true
  tolerations:
    - key: node.cloudprovider.kubernetes.io/uninitialized
      value: "true"
      effect: NoSchedule
  volumes:
    - name: config-ccm
      hostPath:
        path: /etc/kubernetes/config/ccm-config.ini
        type: File
    - name: kubeconfig
      hostPath:
        path: /root/.kube
        type: Directory
