process announce-routes {
    run /usr/bin/python3 /srv/route.py;
    encoder json;
}

{% for host in groups['bgp'] %}

neighbor {{host}} {                 # Remote neighbor to peer with
    router-id {{inventory_hostname}} ;              # Our local router-id
    local-address {{inventory_hostname}} ;          # Our local update-source
    local-as {{AS}};                    # Our local AS
    peer-as {{AS}};                     # Peer's AS

    api {
        processes [announce-routes];
    }
}
{% endfor %}
