apiVersion: v1
kind: Pod
metadata:
  annotations:
    kubeadm.kubernetes.io/etcd.advertise-client-urls: https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379
  creationTimestamp: null
  labels:
    component: etcd
    tier: control-plane
  name: etcd
  namespace: kube-system
spec:
  containers:
  - command:
    - etcd
    - --cert-file=/etc/etcd/ssl/certificate-etcd.pem
    - --key-file=/etc/etcd/ssl/certificate-etcd.key
    - --trusted-ca-file=/etc/etcd/ssl/ETCD_CA.pem
    - --client-cert-auth=true
    - --data-dir=/var/lib/etcd
    - --experimental-initial-corrupt-check=true
    - --experimental-watch-progress-notify-interval=5s
{% set masters = [] %}
{% for worker in groups['etcd'] %}
{% set masters= masters.append('{0}=https://{0}:2380'.format(hostvars[worker]['ansible_host'])) %}
{% endfor %}
    - --advertise-client-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379
    - --initial-advertise-peer-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2380
    - --initial-cluster={{masters | join(",")}}
    - --listen-client-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2379,https://127.0.0.1:23799
    - --listen-metrics-urls=http://127.0.0.1:2381
    - --listen-peer-urls=https://{{ hostvars[inventory_hostname]['ansible_host'] }}:2380
    - --name={{ hostvars[inventory_hostname]['ansible_host'] }}
    - --peer-client-cert-auth=true
    - --peer-cert-file=/etc/etcd/ssl/certificate-etcd.pem
    - --peer-key-file=/etc/etcd/ssl/certificate-etcd.key
    - --peer-trusted-ca-file=/etc/etcd/ssl/ETCD_CA.pem
    - --snapshot-count=10000
    image: registry.k8s.io/etcd:3.5.7-0
    imagePullPolicy: IfNotPresent
    livenessProbe:
      failureThreshold: 8
      httpGet:
        host: 127.0.0.1
        path: /health?exclude=NOSPACE&serializable=true
        port: 2381
        scheme: HTTP
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    name: etcd
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
    startupProbe:
      failureThreshold: 24
      httpGet:
        host: 127.0.0.1
        path: /health?serializable=false
        port: 2381
        scheme: HTTP
      initialDelaySeconds: 10
      periodSeconds: 10
      timeoutSeconds: 15
    volumeMounts:
    - mountPath: /var/lib/etcd
      name: etcd-data
    - mountPath: /etc/etcd/ssl
      name: etcd-certs
  hostNetwork: true
  priority: 2000001000
  priorityClassName: system-node-critical
  securityContext:
    seccompProfile:
      type: RuntimeDefault
  volumes:
  - hostPath:
      path: /etc/etcd/ssl
      type: DirectoryOrCreate
    name: etcd-certs
  - hostPath:
      path: /var/lib/etcd
      type: DirectoryOrCreate
    name: etcd-data
status: {}
