[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{inventory_hostname}} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file=/etc/kubernetes/pki/Kubernetes_CA.pem \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-cafile=/etc/kubernetes/pki/ETCD_CA.pem \
  --etcd-certfile=/etc/kubernetes/pki/kube-apiserver-client-etcd.pem \
  --etcd-keyfile=/etc/kubernetes/pki/kube-apiserver-client-etcd.key \
{% set masters = [] %}
{% for worker in groups['etcd'] %}
{% set masters= masters.append('https://{0}:2379'.format(worker)) %}
{% endfor %}
  --etcd-servers={{masters | join(",")}} \
  --event-ttl=1h \
  --encryption-provider-config=/etc/kubernetes/encryption-config.yaml \
  --kubelet-certificate-authority=/etc/kubernetes/pki/Kubernetes_CA.pem \
  --kubelet-client-certificate=/etc/kubernetes/pki/kubernetes.pem \
  --kubelet-client-key=/etc/kubernetes/pki/kubernetes.key \
  --runtime-config='api/all=true' \
  --service-account-key-file=/etc/kubernetes/pki/service-accounts.pem \
  --service-account-signing-key-file=/etc/kubernetes/pki/service-accounts.key \
  --service-account-issuer=https://{{KUBERNETES_PUBLIC_ADDRESS}}:6443 \
  --service-cluster-ip-range={{service_cluster_ip_range}} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file=/etc/kubernetes/pki/kubernetes.pem \
  --tls-private-key-file=/etc/kubernetes/pki/kubernetes.key \
{% if cloud_provider is defined %}
  --cloud-provider=external \
{% endif %}
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
