#/etc/systemd/system/etcd.service
[Unit]
Description=etcd {{etcd['version']}}-{{etcd['platform']}}
Documentation=https://github.com/coreos

[Service]
Type=notify
ExecStart=/usr/local/bin/etcd \
  --name {{inventory_hostname}} \
  --cert-file=/etc/etcd/ssl/certificate-etcd.pem \
  --key-file=/etc/etcd/ssl/certificate-etcd.key \
  --peer-cert-file=/etc/etcd/ssl/certificate-etcd.pem \
  --peer-key-file=/etc/etcd/ssl/certificate-etcd.key \
  --trusted-ca-file=/etc/etcd/ssl/ETCD_CA.pem \
  --peer-trusted-ca-file=/etc/etcd/ssl/ETCD_CA.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{inventory_hostname}}:2380 \
  --listen-peer-urls https://{{inventory_hostname}}:2380 \
  --listen-client-urls https://{{inventory_hostname}}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{inventory_hostname}}:2379 \
  --initial-cluster-token etcd-cluster-0 \
{% set masters = [] %}
{% for worker in groups['etcd'] %}
{% set masters= masters.append('{0}=https://{0}:2380'.format(worker)) %}
{% endfor %}
  --initial-cluster {{masters | join(",")}} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
