kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
authentication:
  anonymous:
    enabled: false
  webhook:
    cacheTTL: 0s
    enabled: true
  x509:
    clientCAFile: "{{CERT_PATH}}/Kubernetes_CA.pem"
authorization:
  mode: Webhook
  webhook:
    cacheAuthorizedTTL: 0s
    cacheUnauthorizedTTL: 0s
clusterDomain: "{{domain}}"
clusterDNS:
  - "{{clusterDNS}}"
resolvConf: "/run/resolvconf/resolv.conf"
runtimeRequestTimeout: "15m"
tlsCertFile: "/etc/kubernetes/pki/node_{{hostname}}.pem"
tlsPrivateKeyFile: "/etc/kubernetes/pki/node_{{hostname}}.key"
