vrrp_instance VI_1 {
        {% if 'master' in group_names %}
        state MASTER
        priority 254
        {% else %}
        state BACKUP
        priority 253
        {% endif %}
        interface ens3
        virtual_router_id 51
        advert_int 1
        virtual_ipaddress {
              {{KUBERNETES_PUBLIC_ADDRESS}}
        }
        # {{group_names}}
}
