[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --bind-address=0.0.0.0 \
  --cluster-cidr={{cluster_cidr}} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{CERT_PATH}}/ca_kubernetes.pem \
  --cluster-signing-key-file={{CERT_PATH}}/ca_kubernetes.key \
  --kubeconfig=/etc/kubernetes/config/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file={{CERT_PATH}}/ca_kubernetes.pem \
  --service-account-private-key-file={{CERT_PATH}}/service-accounts.key \
  --service-cluster-ip-range={{service_cluster_ip_range}} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target
EOF
