[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-apiserver \
  --advertise-address={{inventory_hostname}} \
  --allow-privileged=true \
  --apiserver-count=3 \
  --audit-log-maxage=30 \
  --audit-log-maxbackup=3 \
  --audit-log-maxsize=100 \
  --audit-log-path=/var/log/audit.log \
  --authorization-mode=Node,RBAC \
  --bind-address=0.0.0.0 \
  --client-ca-file={{CERT_PATH}}/ca_kubernetes.pem \
  --enable-admission-plugins=NamespaceLifecycle,NodeRestriction,LimitRanger,ServiceAccount,DefaultStorageClass,ResourceQuota \
  --etcd-cafile={{CERT_PATH}}/ca_etcd.pem \
  --etcd-certfile={{CERT_PATH}}/kube-api-client.pem \
  --etcd-keyfile={{CERT_PATH}}/kube-api-client.key \
{% set masters = [] %}
{% for worker in groups['etcd'] %}
{% set masters= masters.append('https://{0}:2379'.format(worker)) %}
{% endfor %}
  --etcd-servers={{masters | join(",")}} \
  --event-ttl=1h \
  --encryption-provider-config=/etc/kubernetes/encryption-config.yaml \
  --kubelet-certificate-authority={{CERT_PATH}}/ca_kubernetes.pem \
  --kubelet-client-certificate={{CERT_PATH}}/kubernetes.pem \
  --kubelet-client-key={{CERT_PATH}}/kubernetes.key \
  --runtime-config='api/all=true' \
  --service-account-key-file={{CERT_PATH}}/service-accounts.pem \
  --service-account-signing-key-file={{CERT_PATH}}/service-accounts.key \
  --service-account-issuer=https://{{KUBERNETES_PUBLIC_ADDRESS}}:6443 \
  --service-cluster-ip-range={{service_cluster_ip_range}} \
  --service-node-port-range=30000-32767 \
  --tls-cert-file={{CERT_PATH}}/kubernetes.pem \
  --tls-private-key-file={{CERT_PATH}}/kubernetes.key \
  --v=4
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF
