zone "{{domain}}" {
    type master;
    file "/var/lib/bind/{{domain}}.zone";
    allow-transfer { none; };
};

{% for item,value in domains.items() %}

zone "{{item}}" {
    type master;
    file "/var/lib/bind/{{item}}.zone";
    allow-transfer { none; };
};

{% endfor %}
