[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubelet/kubelet-config.yaml \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --kubeconfig=/etc/kubernetes/config/node_{{hostname}}.kubeconfig  \
  --register-node=true \
  --pod-manifest-path=/etc/kubernetes/manifests/ \
{% if cloud_provider is defined %}
  --cloud-provider=external \
  --provider-id {{cloud_provider}}://{{hostname}} \
  --node-ip {{inventory_hostname}} \
{% endif %}
  --v=1
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
